---
x-project:
  name: metacpan
#  ____  _____ ______     _____ ____ _____ ____
# / ___|| ____|  _ \ \   / /_ _/ ___| ____/ ___|
# \___ \|  _| | |_) \ \ / / | | |   |  _| \___ \
#  ___) | |___|  _ < \ V /  | | |___| |___ ___) |
# |____/|_____|_| \_\ \_/  |___\____|_____|____/
#

include:
  - path:
      - src/metacpan-web/docker-compose.yml
      - compose/web.yml

services:
  #              _
  #   __ _ _ __ (_)
  #  / _` | '_ \| |
  # | (_| | |_) | |
  #  \__,_| .__/|_|
  #       |_|
  #

  cloud_api:
    profiles:
      - cloud-es
    depends_on:
      - pghost
    image: metacpan/metacpan-api:latest
    build:
      context: ./src/metacpan-api
    # put variables for compose inside a .env file
    # use env_file for variables to be set inside the container
    env_file:
      - .env
    command: >
      /metacpan-api/wait-for-it.sh -t 15 -s -h ${PG_HOST} -p ${PG_PORT} --
      ${API_SERVER} ./bin/api.pl
    volumes:
      - type: volume
        source: cpan
        target: /CPAN
      - type: bind
        source: ./src/metacpan-api
        target: /metacpan-api
      - type: bind
        source: ./bin/index-cpan.sh
        target: /bin/index-cpan.sh
        read_only: true
      - type: bind
        source: ./bin/partial-cpan-mirror.sh
        target: /bin/partial-cpan-mirror.sh
        read_only: true
    ports:
      - "5000:5000"
    networks:
      - database
      - web-network
  api:
    profiles:
      - dev
    depends_on:
      - elasticsearch
      - pghost
    image: metacpan/metacpan-api:latest
    build:
      context: ./src/metacpan-api
    # put variables for compose inside a .env file
    # use env_file for variables to be set inside the container
    env_file:
      - .env
    command: >
      /metacpan-api/wait-for-it.sh -t 15 -s -h ${PG_HOST} -p ${PG_PORT} --
      /metacpan-api/wait-for-es.sh http://elasticsearch:9200 "" --
      ${API_SERVER} ./bin/api.pl
    volumes:
      - type: volume
        source: cpan
        target: /CPAN
      - type: bind
        source: ./src/metacpan-api
        target: /metacpan-api
      - type: bind
        source: ./bin/index-cpan.sh
        target: /bin/index-cpan.sh
        read_only: true
      - type: bind
        source: ./bin/partial-cpan-mirror.sh
        target: /bin/partial-cpan-mirror.sh
        read_only: true
    ports:
      - "5000:5000"
    networks:
      - database
      - elasticsearch
      - web-network

  api_test:
    profiles:
      - test
    depends_on:
      - elasticsearch_test
      - pghost
    image: metacpan/metacpan-api:latest
    build:
      context: ./src/metacpan-api
    env_file:
      - localapi_test.env
    command: >
      /metacpan-api/wait-for-it.sh -t 15 -s -h ${PG_HOST} -p ${PG_PORT} --
      /metacpan-api/wait-for-es.sh http://elasticsearch_test:9200 "" --
      ${API_SERVER} ./bin/api.pl
    volumes:
      - type: volume
        source: cpan
        target: /CPAN
      - type: bind
        source: ./src/metacpan-api
        target: /metacpan-api
      - type: bind
        source: ./bin/index-cpan.sh
        target: /bin/index-cpan.sh
        read_only: true
      - type: bind
        source: ./bin/partial-cpan-mirror.sh
        target: /bin/partial-cpan-mirror.sh
        read_only: true
    ports:
      - "5000"
    networks:
      - database
      - elasticsearch

  ingest:
    profiles:
      - dev
      - ingest
    image: metacpan/metacpan-ingest:latest
    volumes:
      - type: volume
        source: cpan
        target: /CPAN
      - type: bind
        source: ./configs/metacpan-ingest/metacpan_ingest_local.conf
        target: /metacpan-ingest/metacpan_ingest_local.conf
        read_only: true
    depends_on:
      - elasticsearch
    networks:
      - elasticsearch

  #   __ _ _ __ ___ _ __
  #  / _` | '__/ _ \ '_ \
  # | (_| | | |  __/ |_) |
  #  \__, |_|  \___| .__/
  #   __/ |        | |
  #  |___/         |_|

  grep:
    profiles:
      - grep
    image: metacpan/metacpan-grep-front-end:latest
    build:
      context: ./src/metacpan-grep-front-end
    volumes:
      - type: volume
        source: metacpan_git_shared
        target: /shared/metacpan_git
        read_only: true
      - type: bind
        source: ./src/metacpan-grep-front-end
        target: /metacpan-grep-front-end
        read_only: true
    env_file:
      - grep.env

  #  ____    _  _____  _    ____    _    ____  _____ ____
  # |  _ \  / \|_   _|/ \  | __ )  / \  / ___|| ____/ ___|
  # | | | |/ _ \ | | / _ \ |  _ \ / _ \ \___ \|  _| \___ \
  # | |_| / ___ \| |/ ___ \| |_) / ___ \ ___) | |___ ___) |
  # |____/_/   \_\_/_/   \_\____/_/   \_\____/|_____|____/
  #

  #       _           _   _                              _
  #   ___| | __ _ ___| |_(_) ___ ___  ___  __ _ _ __ ___| |__
  #  / _ \ |/ _` / __| __| |/ __/ __|/ _ \/ _` | '__/ __| '_ \
  # |  __/ | (_| \__ \ |_| | (__\__ \  __/ (_| | | | (__| | | |
  #  \___|_|\__,_|___/\__|_|\___|___/\___|\__,_|_|  \___|_| |_|
  #

  elasticsearch:
    profiles:
      - dev
      - ingest
    image: elasticsearch:2.4
    volumes:
      - type: volume
        source: elasticsearch
        target: /usr/share/elasticsearch/data
      - type: bind
        source: ./elasticsearch/metacpan.yml
        target: /usr/share/elasticsearch/config/metacpan.yml
        read_only: true
      - type: bind
        source: ./elasticsearch/scripts
        target: /usr/share/elasticsearch/config/scripts
        read_only: true
    ports:
      - "9200"
    networks:
      - elasticsearch

  #       _           _   _                              _
  #   ___| | __ _ ___| |_(_) ___ ___  ___  __ _ _ __ ___| |__
  #  / _ \ |/ _` / __| __| |/ __/ __|/ _ \/ _` | '__/ __| '_ \
  # |  __/ | (_| \__ \ |_| | (__\__ \  __/ (_| | | | (__| | | |
  #  \___|_|\__,_|___/\__|_|\___|___/\___|\__,_|_|  \___|_| |_|
  #
  #  _            _
  # | |_ ___  ___| |_
  # | __/ _ \/ __| __|
  # | ||  __/\__ \ |_
  #  \__\___||___/\__|
  #

  elasticsearch_test:
    profiles:
      - test
    image: elasticsearch:2.4
    volumes:
      - type: volume
        source: elasticsearch_test
        target: /usr/share/elasticsearch/data
      - type: bind
        source: ./elasticsearch/test.yml
        target: /usr/share/elasticsearch/config/test.yml
        read_only: true
      - type: bind
        source: ./elasticsearch/scripts
        target: /usr/share/elasticsearch/config/scripts
        read_only: true
    ports:
      - "9200"
    networks:
      - elasticsearch
  #                  _                            _
  #  _ __   ___  ___| |_ __ _ _ __ ___  ___  __ _| |
  # | '_ \ / _ \/ __| __/ _` | '__/ _ \/ __|/ _` | |
  # | |_) | (_) \__ \ || (_| | | |  __/\__ \ (_| | |
  # | .__/ \___/|___/\__\__, |_|  \___||___/\__, |_|
  # |_|                 |___/                  |_|
  #

  pghost:
    profiles:
      - cloud-es
      - dev
      - test
    hostname: pghost
    image: "postgres:${PG_VERSION_TAG:-9.6-alpine}"
    build:
      context: "./pg"
      args:
        PG_TAG: "${PG_VERSION_TAG:-9.6-alpine}"
    environment:
      POSTGRES_PASSWORD: metacpan
      POSTGRES_USER: metacpan123
      POSTGRES_DB: metacpan
    networks:
      - database
    healthcheck:
      interval: 10s
      timeout: 1s
      retries: 0
      start_period: 480s
      test: ["CMD", "/healthcheck.sh"]
    volumes:
      - type: volume
        source: pghost-data
        target: /var/lib/postgresql/data
      - type: bind
        source: ./pg/docker-entrypoint-initdb.d
        target: /docker-entrypoint-initdb.d
        read_only: true
      - type: bind
        source: ./pg/healthcheck.sh
        target: /healthcheck.sh
        read_only: true

#  _   _ _____ _______        _____  ____  _  ______
# | \ | | ____|_   _\ \      / / _ \|  _ \| |/ / ___|
# |  \| |  _|   | |  \ \ /\ / / | | | |_) | ' /\___ \
# | |\  | |___  | |   \ V  V /| |_| |  _ <| . \ ___) |
# |_| \_|_____| |_|    \_/\_/  \___/|_| \_\_|\_\____/
#

networks:
  database:
  elasticsearch:
  web-network:

# __     _____  _    _   _ __  __ _____ ____
# \ \   / / _ \| |  | | | |  \/  | ____/ ___|
#  \ \ / / | | | |  | | | | |\/| |  _| \___ \
#   \ V /| |_| | |__| |_| | |  | | |___ ___) |
#    \_/  \___/|_____\___/|_|  |_|_____|____/
#

volumes:
  api_carton:
  cpan:
  elasticsearch:
  elasticsearch_test:
  pghost-data:
  metacpan_git_shared:
    external: true
